@model _2013144218_ENT.Entidades.Retiro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Retiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATM.idATM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATM.idATM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dispensadorefectivo.idDispensadorefectivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispensadorefectivo.idDispensadorefectivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pantalla.idPantalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pantalla.idPantalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teclado.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teclado.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idATM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idATM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTeclado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTeclado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPantalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPantalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDispensadorEfectivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDispensadorEfectivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
